html{
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0px;
}
#container{
  margin: 0px 0px 0px 0px;
  padding: 10px;
  background-color:  #fff;
}
.header{
  /* position:relative; */
  font-size: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.itemleft{
  float: left;
  padding: 20px 10px;
}
.itemleft li{
  padding: 10px;
  display: inline;
}
.itemright{
  float: right;
  padding: 20px 10px;
}
.itemright li{
  padding: 10px;
  display: inline;
}
.itemleft a{
  text-decoration: none;
  color: #a0a0a0;
}
.itemright a{
  text-decoration: none;
  color: #a0a0a0;
}
#app{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
#signin{
  background: #4584ee;
  color: #fff;
  padding: 5px 15px;
}
.logo {
  margin: 0 auto;
  width: 60%;
  padding: 100px 0px 10px 0px;
  position: relative;
}
#logoimg{
  display: block;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}
#outer {
  width:100%;
  text-align: center;
  padding: 20px;
}
button {
  border: 0;
  padding: 10px;
  border-radius: 4px;
}
button:hover{
background-color: #f3f3f3;
border: 1px solid #a8a8a8;
}
.buttoninner {
  display: inline-block;
  padding: 5px;
}
.round{
  min-width: 550px;
  border-radius: 25px;
  border: 1px rgb(202, 202, 202) solid;
  padding: 15px 5px 15px 25px;
  top: 0;
  left: 0;
  z-index: 5;
}
.search{
  text-align: center;
}
.footer{
  background-color:#f2f2f2;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  width: 100%;
}
.footerleft{
  text-decoration: none;
  padding: 14px 16px;
  float: left;
  display: block;
}
.footerleft a{
  text-decoration: none;
  color: gray;
}
.footerleft li{
  padding: 10px 10px;
  display: inline;
}
.footerright{
  text-decoration: none;
  padding: 14px 16px;
  float: right;
  display: block;
}
.footerright a{
  text-decoration: none;
  color: gray;
}
.footerright li{
  padding: 10px 10px;
  display: inline;
}