#logo {
/* display: flex;
justify-content: center;
align-items: center; */
display: block;
margin-left: auto;
margin-righ: auto;
width: 60%;
padding: 150px 20px 20px 20px;
}

.center {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
#outer {
  width:100%;
  text-align: center;
  padding: 20px;
}
.buttoninner {
  display: inline-block;
}
.round{
  width: 50%;
  border-radius: 25px;
  border: 1px rgb(202, 202, 202) solid;
  padding: 5px 5px 15px 25px;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 5;
}
.corner {
  /* position: absolute; */
  top: 3px;
  left: 5px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  /* background: #000; */
}
.search{
  /* position: relative; */
  text-align: center;
  /* width: 350px;
  height: 30px; */
}